<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/FANCY.svg" width="164" height="57" class="d-inline-block align-top" alt="" loading="lazy">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Feminino <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Masculino</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Infantil</a>
      </li>
    </ul>
      <span>
        <img src="../../../assets/lupa.svg" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">  
      </span>
      <span>
        <img src="../../../assets/iconfinder_00-ELASTOFONT-STORE-READY_bag_2703085.svg" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
      </span>
  </div>
</nav>