<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img src="../../../assets/iconfinder_camping-nature-26_808475.svg" width="80" height="80" class="d-inline-block align-top" alt="" loading="lazy">  
  </div>

  <ul class="list-unstyled components">
      <p>Filtros</p>
      <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Marca</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                  <a href="#">Home 1</a>
              </li>
              <li>
                  <a href="#">Home 2</a>
              </li>
              <li>
                  <a href="#">Home 3</a>
              </li>
          </ul>
      </li>
      <li>
          <a href="#">Cor</a>
      </li>
      <li>
          <a href="#">Preço</a>
      </li>
      <li>
          <a href="#">Tamanho</a>
      </li>
  </ul>
  </nav>

  <!-- Page Content -->
  <div id="content">
     <ng-content></ng-content>
  </div>

</div>       