<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
    <!-- <div class="sidebar-header">
      <img src="../../../assets/iconfinder_camping-nature-26_808475.svg" width="80" height="80" class="d-inline-block align-top" alt="" loading="lazy">  
  </div> -->

  <ul class="list-unstyled components">
      <p>Filtros</p>
      <li>
          <a href="#"><h6>Cor</h6></a>
      </li>
      <li>
          <a href="#"><h6>Preço</h6></a>
      </li>
      <li>
          <a href="#"><h6>Tamanho</h6></a>
      </li>
  </ul>
  </nav>

  <!-- Page Content -->
  <div id="content">
     <ng-content></ng-content>
  </div>

</div>       