<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
    <!-- <div class="sidebar-header">
      <img src="../../../assets/iconfinder_camping-nature-26_808475.svg" width="80" height="80" class="d-inline-block align-top" alt="" loading="lazy">  
  </div> -->
  <form>
  
  <ul class="list-unstyled components">
      <p>Filtros</p>
      <li>
          <a href="#"><h6>Cor</h6></a>
          <div class="cores" style="display: inline-grid;
          padding: 10px;">
          
   
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
                Azul
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
                Amarelo
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
                Vermelho
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
                Verde
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
                Branco
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
                Verde
            </label>
          </div>

          </div>

      </li>
      <li>
          <a href="#"><h6>Preço</h6></a>
          <div class="form-group" style="padding: 10px;">
            <!-- <label for="formControlRange"></label> -->
            <input type="range" class="form-control-range" id="formControlRange">
          </div>
      </li>
      <li>
          <a href="#"><h6>Tamanho</h6></a>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
                PP
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
                P
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
                M
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
                G
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
                GG
            </label>
          </div>
      </li>
  </ul>
  </form>
  </nav>

  <!-- Page Content -->
  <div id="content">
     <ng-content></ng-content>
  </div>

</div>       