<!-- <router-outlet></router-outlet> -->

<div class="container home">
  <div class="row">
    <div class="col">
      <img style="width: 100%;" src="../../assets/main-banner.svg">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img style="width: 100%;" src="../../assets/banner-girl.svg">
    </div>
    <div class="col">
      <img style="width: 100%;" src="../../assets/banner-promocao.svg">
    </div>
    <div class="col">
      <img style="width: 100%;" src="../../assets/banner-man.svg">
    </div>
  </div>
</div>
